.footer {
    padding: 50px 0;
    transition: all .6s 0s cubic-bezier(.7,0,.3,1);
    .message {
        position: relative;
        z-index: 1;
        transition: all .6s 0s cubic-bezier(.7,0,.3,1);
        &.hide {
            display: none;
        }
        &::after {
            content: '';
            position: absolute;
            bottom: -15px;
            left: -20%;
            height: 1px;
            width: 40%;
            z-index: -1;
            background-color: #fff;
            transition: all .6s 0s cubic-bezier(.7,0,.3,1);
        }
    }

    .form-container {
        width: 100%;
        position: relative;
        display: inline-block;
        margin: 40px 0;
        opacity: 0.9;
        font-family: $second-font;
        font-weight: normal;
        transition: all .6s ease-in-out;
        &.hide {
            display: none;
        }

        & .message-validator {
            display: block;
            position: relative;
            padding: 15px 10px;
            font-weight: 200;
            font-size: 14px;
            opacity: 0;
            transition: all .6s ease-in-out;
        }

        & .input-text {
            width: 100%;
            padding: 5px 75px 5px 10px;
            height: 42px;
            font-size: 12px;
            font-weight: 200;
            letter-spacing: 1px;

            &::-webkit-input-placeholder {
                color: #fff;
                transition: all .5s ease;
            }
            &:-moz-placeholder {
                color: #fff;
                transition: all .5s ease;

            }
            &:-ms-input-placeholder { 
                color: #fff; 
                transition: all .5s ease;
            }

            &:focus::-moz-placeholder {
                opacity: 0;
            }
            &:focus::-ms-input-placeholder {
                opacity: 0;
            }
            &:focus::-webkit-input-placeholder {
                opacity: 0;
            }
        }

        & .input-btn {
            position: absolute;
            top: 0;
            height: 42px;
            right: 0;
            width: 70px;
            cursor: pointer;
        }
    }

    .footer-main {
        width: 60%;
        .col-foo {
            margin: 10px 0;
            h3 {
                font-size: 18px;
                margin: 15px 0
            }
            .body-el {
                font-weight: 400;

                & p {
                    font-size: 12px;
                    margin-bottom: 5px;
                    letter-spacing: .3px;
                    color: #fff;
                    & a {
                        z-index: 1;
                        position: relative;
                        transition: all .6s 0s cubic-bezier(.7,0,.3,1);
                        opacity: .6;

                        &:hover {
                            text-decoration: none;
                            color: #fff;
                            opacity: 1;
                        }
                        &::before {
                            content: '';
                            background-color: #fff;
                            height: 1px;
                            width: 100%;
                            position: absolute;
                            bottom: -30px;
                            opacity: 0;
                            left: 0;
                            transition: all .6s 0s cubic-bezier(.7,0,.3,1);
                        }
                        &:hover::before {
                            opacity: 1;
                            bottom: 0;
                        }
                    }
                }
            }
        }
    }
}



/* Responsive */

@media (min-width: 580px) {
    .footer {
        .form-container {
            width: 100%;
            position: relative;
            display: inline-block;
            margin: 40px 0;
            opacity: 0.9;
            font-family: $second-font;
            font-weight: normal;
            & .input-text {
                width: 100%;
                padding: 10px 75px 10px 15px;
                height: 60px;
            }
            & .input-btn {
                height: 60px;
            }
        }

        .footer-main {
            width: 100%;
        }
    }
}

@media (min-width: 991px) {
    .footer {
        .message {
            margin: auto;
            width: 50%;
            text-align: center;
            position: relative;
            z-index: 1;
            margin-bottom: 200px;
            &::after {
                bottom: -200px;
                left: 50%;
                height: 180px;
                width: 1px;
                z-index: -1;
                background-color: #fff;
            }
        }

        .form-container {
            width: 100%;
            margin: 5em 0 12em 0;
            .form-box {
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
            }
            & .input-text {
                width: 50%;
                position: relative;
                padding: 20px 105px 20px 20px;
                height: 90px;
                font-size: 14px;
                font-weight: 200;
                letter-spacing: 1px;
            }
    
            & .input-btn {
                position: absolute;
                top: 0;
                height: 90px;
                right: 25%;
                width: 100px;
                cursor: pointer;
            }
        }
    }
}
